<!DOCTYPE html>
<html>
<head>
<title>Ranking</title>

<style>

body{
background:#0f172a;
color:white;
font-family:Arial;
}

.container{
max-width:800px;
margin:auto;
padding:40px 20px;
}

.card{
background:rgba(255,255,255,.08);
padding:25px;
border-radius:20px;
margin-bottom:15px;
}

.money{
font-size:40px;
color:#86efac;
font-weight:bold;
}

.place{
font-size:35px;
}

</style>

</head>

<body>

<div class="container">

<h1>🏆 Shevet Bank Ranking</h1>


{% for item in ranking %}

<div class="card">

<div class="place">
#{{ forloop.counter }}
</div>


<h2>

{% if config.grupos_revelados %}

{{ item.grupo.nombre }}

{% else %}

Grupo oculto {{ forloop.counter }}

{% endif %}

</h2>


<div class="money">

${{ item.total }}

</div>


</div>

{% empty %}

<p>No hay grupos</p>

{% endfor %}


</div>

</body>
</html>